<div class="body-container">
<div class="container">
  <div class="text-outer-container">
    <div class="text-container">
      <div class="text-block">
        <p>tehén</p>
        <p>tej</p>
        <p>tej</p>
        <p>tejgkljadgjad fgjfdgsldf gdlk</p>
      </div>
      <div class="post-button">
        <input>
        <button>POST</button>
      </div>
    </div>
    <div class="text-container"></div>
    <div class="text-container"></div>
  </div>
  <div class="logout">
    <button (click)="logout()" >Log out</button>
  </div>
  </div>
</div>
